.contenedor {
    width: 100%;
    height: 200%;
    margin: auto;
    background: rgb(244, 249, 250);
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.contenedor div {
    border-radius: 10%;
}

b {
    padding-top: 5px;
    margin-left: 20%;
    font-size: 40px;
}

.titulojugador{
    position: relative;
    width: 100%; 
}

.carta1 {
    width: 200px;
    height: 300px;
    margin: 10px;
}

.carta2 {
    width: 200px;
    height: 300px;
    margin: 10px;
}

.carta3 {
    width: 200px;
    height: 300px;
    margin: 10px;
}

.carta4 {
    width: 200px;
    height: 300px;
    margin: 10px;
}

.carta5 {
    width: 200px;
    height: 300px;
    margin: 10px;
}

img {
    position: relative;
    border-radius: 10%;
    width: 200px;
    height: 300px;
    border: solid rgb(162, 201, 228);
}

.divbutton {
    width: 100%;
    height: 100%;
}

button {
    bottom: 0px;
    position: relative;
    font-family: sans-serif;
    width: 115px;
    height: 50px;
    background: rgb(162, 201, 228);
    border-radius: 10%;
    border: none;
    font-weight: 700;
    margin: 5px;
}

button:hover{
    background: rgb(134, 135, 223);
}

.btnpedir{
    margin-left: 10px;
}

.cartacrupier {
    display: flex;
    flex-wrap: wrap;
}

.cartacrupier1{
    width: 200px;
    height: 300px;
    margin: 10px;
}

.cartacrupier2{
    width: 200px;
    height: 300px;
    margin: 10px;
}

.cartacrupier3{
    width: 200px;
    height: 300px;
    margin: 10px; 
}

.cartacrupier4{
    width: 200px;
    height: 300px;
    margin: 10px;
}

.cartacrupier5{
    width: 200px;
    height: 300px;
    margin: 10px;
}

.dineroapuesta{
    display: flex;
    width: 100%;
    font-size: 25px;
}

.divapuesta{
   margin-top: 20px; 
   margin-left: 10px;
}

#dinero {
    margin-left: 10px;
    margin-top: 20px;
}

.resultadomensaje{
    font-size: 20px;
}
